
<form action="/gifs/new" method="post" enctype="multipart/form-data">
  <label>Upload GIF:</label>
  <input type="file" name="gif">
  <br>
  <input type="text" name="description" placeholder="Add some description" size="50">
  <br>
  <input type="text" name="tags" placeholder="Enter tags separated by commas" size="50">
  <br>
  <input type="submit" value="submit">
</form>