
/*/////Link style////*/
a:link, a:visited, a:hover, a:active {
	background-color: none;
/*	color: #f1cf63;*/
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

.navbar-nav{
	margin: 10.25px -15px;
}

.navbar-right {
	margin: 15px -15px 10.25px -15px;
}


/*/////CARD/////*/
.cardrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 0.5em;
 -webkit-column-gap: 0.5em;

}

.item {
 display: inline-block;
 padding:  .2rem;
 width:  100%;
}

.well {
 position:relative;
 display: block;
 padding:  1rem;
 border-radius: 0px;
}


/*/////Footer/////*/

.footer {
  width: 100%;
  height: 30px;
	text-align: center;
	font-size: 10px;
	color: #fff;
}

/*/////From Div Style/////*/

.centeredform {
	margin:15% auto;
	width: 50%;
	padding: 10px;
}

.fulllengthbutton {
	color: #ffffff;
	background-color: #2a9fd6;
	border-color: #2a9fd6;
	width: 100%;
}

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 15px;
  height: 100%;
	width: 100%;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 3.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #2a9fd6;
  border-radius: 0 .25rem .25rem 0;
}

/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Return to Top */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #000;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(255, 255, 255, 0.9);
}
#return-to-top:hover i {
    color: #000;
    top: 5px;
}
