<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GIFCollector</title>
  </head>
  <body>
  	<nav>
  	<% if logged_in? %>
  	
		<a href="/">Home</a> | 
		<a href="/users/<%= current_user.id %>">My Gifs</a> | 
		<a href="/signout">Log Out</a>

     <% else %>

		<a href="/">Home</a> | 
		<a href="/login">Log In</a> | 
		<a href="/signup">Sign Up</a>

     <%end %>

	</nav>
     <%= yield %>
  </body>
</html>
